*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background: url() center/cover; /*Color o imagen del fondo de la pagina*/
    height: 100vh;
}

/*--------------HEADER-------------*/
header a:hover{
    transform: scale(1.05);
    color: ; /*Color de los links al pasar el mouse*/
} 
h1{
    color: ; /*Color del titulo de la pagina (se ecuentra en el header)*/
}
/*--------------HEADER-------------*/


/*--------------MAIN-------------*/
/*Contenedor del formulario login*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.cont-form{
    border:1px solid black;
    background: ; /*color del fondo del formulario para ingresar*/
    backdrop-filter: ; /*Filtro del fondo del formulario*/
    box-shadow: ; /*Sombra del contenedor*/
    border:1px solid black;
    border-radius: 15px;
    width: 65%;
    height: 680px;
    display: flex;
    overflow: hidden;
}
/*Imagen izquierda del formulario*/
.img-login{
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
}
.img-login > div{
    height: 500px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main h2{
    color: ; /*Color de los subtitulos de toda la pagina*/
    font-size: 3.8em;
    font-weight: bold;
    text-align: center;
}
.img-login h4{
    color: ; /*Color del texto del contenedor izquierdo del formulario*/
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
}
.img-login p{
    color: ; /*Color del texto del contenedor izquierdo del formulario*/
    font-size:22px;
    text-align: center;
    margin-top: 80px;
}


/*Imagen izquierda del formulario*/
main a{
    transition: all 0.3s ease-in-out;
}
main a:hover{
    color: #777;
}

/*Formulario de Ingresar*/
.form-login{
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.usuario-email, .contraseña{
    border:1px solid black;
    border-radius: 10px;
    width: 85%;
    height: 12%;
    margin: 1.2em auto;
    overflow: hidden;
    display: flex;
    background-color: ; /*Color del contenedor donde se ingresa el email y contraseña*/
}
.logo-user, .logo-password{
    height: 100%;
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right:1px solid black;
}
.campo-user, .campo-password{
    height: 100%;
    width: 87%;
}
.campo-user  div:first-child, .campo-password div:first-child{
    height: 50%;
    align-content: center;
    padding: 0px 5px;
    border-bottom: 1px solid black;
    font-size: 20px;
    color: ; /*Color del texto del formulario donde se ingresa el email y contraseña*/
}
.campo-user  div:last-child, .campo-password div:last-child{
    height: 50%;
    align-content: center;
}
.form-login input{
    width: 100%;
    height: 100%;
    align-content: center;
    padding: 0px 5px;
    background-color: ;  /*Color del fondo del input donde se ingresa el email y contraseña*/
    color: ; /*Color del texto del formulario donde se ingresa el email y contraseña*/
    border: none;
    outline: none;
}
.campo-password input{
    border-right: 1px solid black;
    width: 60%;
}
.campo-password a{
    font-size: 12px;
    color: ; /*Color del link de (olvidaste tu contraseña)*/
    width: 40%;
    height: 100%;
    margin: 0px 7px; 
}
main button{
    background-color: ;  /*Color del fondo de TODOS los botones de la pagina */
    width: 40%;
    height: 8%;
    margin: 0px auto;
    border: 1px solid black;
    border-radius: 15px;
    color: ; /*Color del texto de TODOS los botones de la pagina */
    font-size: 18px;
    transition: all 0.4s ease-in-out;
}
main button:hover{
    transform: scale(1.05);
}
/*Formulario de Ingresar*/
/*Contenedor del formulario login*/
/*--------------MAIN-------------*/


/*--------------FOOTER-------------*/
footer{
    min-height: 8vh;
    background: ; /*Color del fondo del footer*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}
footer p{
    font-size: 1.1em;
    color: ; /*Color del texto del footer*/
    font-weight: bold;
}
footer a{
    margin-right: 16px;
    font-size: 1.1em;
    transition: all 0.3s ease-in-out;
}
footer a:hover{
    color: ; /*Color del hoover de los links del footer*/
}
/*--------------FOOTER-------------*/