*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}
/*--------------HEADER-------------*/
header a:hover{
    transform: scale(1.05);
} 
/*--------------HEADER-------------*/



/*--------------MAIN-------------*/
.hero{
    min-height: 40vh;
    background-color: rgb(76, 0, 130);
    align-content: center;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}
.hero h2{
    font-size: 2.5lh;
    text-align: center;
    margin-bottom: 10px;
}
.hero button{
    width: 180px;
    height: 45px;
    margin-top: 15px;
    background: white;
    color: rgb(76, 0, 130);
    font-size: 1.2em;
    border:none;
    border-radius: 10px;;
    transition: all 0.3s ease-in-out;
}
.hero button:hover{
    transform: scale(1.05)
}
/*--------------MAIN-------------*/

