*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color:rgba(0, 0, 0, 0.8);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*delimite los bordes de cada seccion*/
header{
    /* border: red solid 1px; */
    padding: 20px;
    margin: 10px 2px;
}

 main{
    /* border: yellow solid 1px; */
    padding: 20px;
    margin: 10px 2px;
}

footer{
    /* border: green solid 1px; */
    padding: 20px;
    margin: 10px 2px;
}  

.bordes {
    /* border: blue solid 1px; */
    padding: 10px;
} 

/*delimite los bordes de cada seccion*/

.titulo{
    font-size: 24px;
    color:white;
    max-width: 140px;
}

.subtitulo{
    font-size: 14px;
    color: white;
    max-width: 140px;
    text-align: center;;
}

.logo-titulo{
    display: flex;   
    align-items: center;
    justify-content: center; 
}

.barra-busqueda{
    justify-content: center;
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 500px;
    min-width: 10px;
    padding: 10px 30px;
    border-radius: 20px;
    border:none;
}

.login-button{
    padding: 10px 15px;
    border-radius: 12px;
    border:none;
    background-color: rgba(161, 161, 161, 0.5);
    cursor: pointer;
    color: white;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
}

.login-button:hover{
    background-color: rgba(161, 161, 161, 1);
}

/* Esto esta relativamente bien */


.apartados{
    justify-content: center;
    display:flex;
    gap: 4%;
    margin-bottom: 30px;
}

.link-apartados {
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px 10px;
    border-radius: 10px;
    border: none;   
}

.link-apartados:active{
    color: rgb(255, 255, 255);   
}

.link-apartados:hover{
    background-color: rgba(161, 161, 161, 1);
}

/* esto esta relativamente bien */

.separador{
    margin:20px 0px 40px 0px;
}

/* Estilos para los banners de productos */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0px 0px 60px 0px;
    padding-bottom: 30px;
}

.banner-mates, .banner-bombillas, .banner-termos, .banner-materas, .banner-grabados, .banner-combos {
    padding: 200px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 1);
    margin: 40px 30px 10px 30px;
    border-radius: 30px;
}

.banner-mates{
    background-image: url(../img/imperial-algarrobo-premium.png); /*foto de fondo*/
    background-size: cover; /*cubre todo el espacio*/
    background-position: center; /*centra la foto*/
}

.banner-bombillas{
    background-image: url(../img/Bombillon-liso-alpaca.png); 
    background-size: cover; 
    background-position:bottom;
}

.banner-termos{
    background-image: url(../img/termos.png); 
    background-size: cover; 
    background-position: center;
}

.banner-materas{
    background-image: url(../img/mochila-matera.png);
    background-size: cover;
    background-position: center;/
}

.banner-grabados{
    background-image: url(../img/grabado-mate.png);
    background-size: cover;
    background-position: bottom; 
}

.banner-combos{
    background-image: url(../img/combo-mate-bombilla.png);
    background-size: cover;
    background-position: center;
}

/* Estilos para los banners de productos */

.link-banner:hover{
transform: scale(1.08);
transition: transform 0.3s ease;
z-index: 1;
}

.link-banner > h3 {
    font-size: 25px;
    background-color: rgba(161, 161, 161, 0.5);
    border-radius: 20px;
    text-align: center;
    max-width: 85%;
    margin: auto;
    color:white;
    
}

.header{
    height:60vh; 
    background: url(../img/imperial-algarrobo-premium.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero{
    border: 5px solid blue;
    height: 100vh;
}

.carrito-compras{
    width: 60px;

}
