*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}
/*--------------HEADER-------------*/
header a:hover{
    transform: scale(1.05);
    color: #31470b;
} 
h1{
    color: #31470b;
}
/*--------------HEADER-------------*/

/*--------------MAIN-------------*/
.hero{
    min-height: 40vh;
    background-color: #283e06;
    align-content: center;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}
.hero h2{
    font-size: 2.5lh;
    text-align: center;
    margin-bottom: 10px;
}
.hero button{
    width: 180px;
    height: 45px;
    margin-top: 15px;
    background: white;
    color: #31470b;
    font-size: 1.2em;
    border:none;
    border-radius: 10px;;
    transition: all 0.3s ease-in-out;
}
.hero button:hover{
    background-color: rgba(255, 255, 255, 0.8);
}

/*Seccion de productos*/
.productos{
    max-width: 80vw;
    margin: 40px auto;
}
.productos > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productos h4{
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(0,0,0,0.8)
}
#categorias, #ordenar{
    width: 10em;
    height: 3.8em;
    margin-right: 5px;
    border:1px solid lightgrey;
    border-radius: 12px;
    padding-left: 10px;
    color:#6b6b6b;
}
#ordenar{
    width: 14em;
    height: 3.8em;
}


/*Tarjetas de cada producto*/
.tarjetas{ /* seccion de las tarjetas de los productos */
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tarjeta-producto{ /*  Tarjeta del Producto */
    border:1px solid black;
    margin: 20px 0px;
    border-radius: 15px;
    width: 23%;
    height: 513px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #31470b ;
    transition: all 0.3s ease-in-out;
}
.tarjeta-producto:hover{
    transform: scale(1.01);
    box-shadow: 5px 5px 20px black;
}
.img-producto{ /* Imagen del producto */
    height: 60%;
    width: 100%;
    overflow: hidden;
}
.img-producto > img{ 
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info-producto{ /* Informacion del Producto */
    height: 40%;
    width:100%;
    overflow: hidden;
    margin: 1% 2%;
    display: flex;
    flex-wrap: wrap;
    color: rgba(255, 255, 255, 0.9);
}
.nombre-producto{
    width:75%; 
    height: 20%;
}
.precio-producto{
    width:20%;
    height: 20%;
}
.descripcion-producto{
    width: 95%;
    height: 50%;
}
.info-producto button{
    width: 95%;
    height: 20%;
    border-radius: 15px;
    border: none;
    background: white ;
    color:#31470b;
    transition: all 0.3s ease-in-out;
}
.info-producto button:hover{
    background-color: rgba(255, 255, 255, 0.8);
}
/*Tarjetas de cada producto*/


/*Seccion de productos*/
/*--------------MAIN-------------*/


/*--------------FOOTER-------------*/
footer{
    min-height: 8vh;
    background: #283e06;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}
footer p{
    font-size: 1.1em;
    color: white;
}
footer a{
    margin-right: 16px;
    font-size: 1.1em;
    color: white;
    transition: all 0.3s ease-in-out;
}
footer a:hover{
    color:rgba(255, 255, 255, 0.8)
}
/*--------------FOOTER-------------*/